:concurrency: 3
:timeout: 60
:verbose: true
:queues:
  - critical
  - default
  - mailers
  - active_storage_analysis
  - active_storage_purge

:scheduler:
  :schedule:
    abandoned_carts_job:
      cron: "*/10 * * * *"
      class: "AbandonedCartsJob"
      queue: default
      description: "Mark carts as abandoned if inactive for 3 hours"
